PGID={{ docker_group_id }}
PUID={{ docker_user_id }}
TZ={{ time_zone }}
SPLUNK_URL=http://{{ splunk_host }}:{{ splunk_services_port }}
SPLUNK_TOKEN={{ splunk_token }}
RADARR_PORT={{ radarr_port }}
SONARR_PORT={{ sonarr_port }}