SPLUNK_WEB_INTERFACE_PORT={{ splunk_web_interface_port }}
SPLUNK_SERVICES_PORT={{ splunk_services_port }}
SPLUNK_MANAGEMENT_PORT={{ splunk_management_port }}
SPLUNK_RECEIVING_PORT={{ splunk_receiving_port }}
SPLUNK_NETWORK_INPUT_PORT={{ splunk_network_input_port }}