global:
  slack_api_url: '{{ slack_webhook_url }}'

    route:
      receiver: 'slack'
      group_by: [alertname]

    receivers:
      - name: 'slack'
        slack_configs:
          - send_resolved: true
            channel: '#general'