ALERTMANAGER_PORT={{ alertmanager_port }}
NODEEXPORTER_PORT={{ nodeexporter_port }}
PROMETHEUS_PORT={{ prometheus_port }}
NFS_HOST_ADDRESS={{ nfs_host_address }}
NFS_BASE_DIRECTORY={{ nfs_base_directory }}