global:
  scrape_interval: 5s
  external_labels:
    monitor: 'monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:{{ prometheus_port }}']
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:{{ nodeexporter_port }}']
  - job_name: 'rancher-agent-1-cadvisor'
    static_configs:
      - targets: ['{{ rancher_agent_1_ip }}:{{ cadvisor_port }}']
  - job_name: 'rancher-agent-2-cadvisor'
    static_configs:
      - targets: ['{{ rancher_agent_2_ip }}:{{ cadvisor_port }}']
  - job_name: 'rancher-agent-3-cadvisor'
    static_configs:
      - targets: ['{{ rancher_agent_3_ip }}:{{ cadvisor_port }}']

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:{{ alertmanager_port }}']

rule_files:
  - '/etc/prometheus/alert.rules'